@model List<Product>
<div class="text-center">
    <h1 class="display-4">
        @foreach (Product product in Model)
        {
            <div>@product.Id @product.Name @product.Price</div>
        }
    </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>